* {
  box-sizing: border-box;
}
body {
  font-family: "Courier New";

}
/*
.menu{
  background-image: url("../imatges/back.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
}*/
h1,h2 {
  text-align: center;
  background-color: #0078d7;
  color: white;
  margin-top: 0;
}

.button {
  padding: 11px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-left: 44%;
}
.button:hover {
  background-color: #0078d7;
}
.button:active {
  background-color: #0078d7;
}
a {
  text-align: center;
  text-decoration: none;
  color: crimson;
}

pre {
  border-left: 4px solid #0078d7;
  font-size: 18px;
}

.badge,.badge-taronja {
  display: inline-block;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50px;
  background-color: #0078d7;
  color: white;
  text-align: center;
}
.badge-taronja {
  background-color: #e78f2a;
}

li {
  margin-top: 1px;
}

.taula {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 16px;
  text-align: left;
}

.taula th,
.taula td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.taula th {
  background-color: #4ca3af;
  color: white;
}

.taula tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.important,.nota{
  width:100%;
  padding:15px;
  position:relative;
  border-left:8px solid #4480a8;
  color:#a1a1a1;
  border-radius:4px;
  justify-content:center;
  align-items:center;
  text-align:left;
  font-size:16px;
  margin-top: 1%;
  background-color: rgb(253, 250, 71);
  text-align: center;
  padding-bottom: 2%;
}
.nota {
  background-color: #90c5f0;
  color: rgb(97, 15, 206);
}
.menu-navegacio{
  margin-left: 1.5%;
  color: red;
}
.sub-llist,.sub-titols{
  color: #45a049;
}
.titol-contingut{
  color: red;
}


